/*// -----------------------------------------------------------------------------
// This file contains all styles related to the Header Light of the site/application.
// -----------------------------------------------------------------------------
*/

/* =Header Light Styles
-------------------------------------------------------------- */

.header {
  .logo-v2 {
    margin-top: 75px;
  }
  .open-search-v2 {
    margin: 80px 0;
  }
  .menu-v2 {
    margin-top: 80px;
  }
}
